.login {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.login-image {
  width: 100%;
  height: auto;
  padding: 12%;
}
.login-image .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.login-image .container .content {
  position: relative;
  overflow: hidden;
}
.login-image .container .content:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 0.5rem;
}
.login-image .container .content-image {
  position: absolute;
  width: 700%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -80% 50%;
     object-position: -80% 50%;
  top: 0;
  left: 0;
}
.login-image .container .set-1 .content-image {
  left: -100%;
  top: -40%;
}
.login-image .container .set-2 .content-image {
  left: -200%;
  top: -32%;
}
.login-image .container .set-3 .content-image {
  left: -300%;
  top: -24%;
}
.login-image .container .set-4 .content-image {
  left: -400%;
  top: 24%;
}
.login-image .container .set-5 .content-image {
  left: -500%;
  top: 32%;
}
.login-image .container .set-6 .content-image {
  left: -600%;
  top: 40%;
}
.login-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12%;
}
.login-form .material-symbols-outlined {
  width: 80%;
  margin: 0 auto;
}
.login-form .title {
  padding-top: 0.8rem;
  padding-bottom: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}
.login-form .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form .form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
.login-form .form input {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #000;
  width: 80%;
  height: 2.8rem;
  background-color: transparent;
  font-size: 1.05rem;
}
.login-form .form button {
  width: 80%;
  height: auto;
  margin-top: 1.6rem;
  outline: 0;
  border: 0.1rem solid #000;
  background-color: #000;
  padding: 3.2% 4.8%;
  color: #fff;
  text-transform: uppercase;
  justify-self: flex-start;
}
.login-form .form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form .form-link .to-link {
  color: #000;
}

.sign-up {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.sign-up-image {
  width: 100%;
  height: auto;
  padding: 12%;
}
.sign-up-image .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.sign-up-image .container .content {
  position: relative;
  overflow: hidden;
}
.sign-up-image .container .content:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 0.5rem;
}
.sign-up-image .container .content-image {
  position: absolute;
  width: 700%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -80% 50%;
     object-position: -80% 50%;
  top: 0;
  left: 0;
}
.sign-up-image .container .set-1 .content-image {
  left: -100%;
  top: -24%;
}
.sign-up-image .container .set-2 .content-image {
  left: -200%;
  top: -32%;
}
.sign-up-image .container .set-3 .content-image {
  left: -300%;
  top: -40%;
}
.sign-up-image .container .set-4 .content-image {
  left: -400%;
  top: 40%;
}
.sign-up-image .container .set-5 .content-image {
  left: -500%;
  top: 32%;
}
.sign-up-image .container .set-6 .content-image {
  left: -600%;
  top: 24%;
}
.sign-up-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 12%;
}
.sign-up-form .material-symbols-outlined {
  width: 80%;
  margin: 0 auto;
}
.sign-up-form .title {
  padding-top: 0.8rem;
  padding-bottom: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}
.sign-up-form .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-up-form .form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
.sign-up-form .form input {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #000;
  width: 80%;
  height: 2.8rem;
  background-color: transparent;
  font-size: 1.05rem;
}
.sign-up-form .form button {
  width: 80%;
  height: auto;
  margin-top: 1.6rem;
  outline: 0;
  border: 0.1rem solid #000;
  background-color: #000;
  padding: 3.2% 4.8%;
  color: #fff;
  text-transform: uppercase;
  justify-self: flex-start;
}
.sign-up-form .form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-up-form .form-link .to-link {
  color: #000;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}